section {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    background-color: #e7f0fd;
    padding: 25px 50px;
    height: auto;
    justify-content: space-between;
}
aside {
    width: 75%;
    border-radius: 10px;
    /* background-color: white; */
}
nav {
    width: 24%;
}

@media screen and (max-width: 768px) {
        
    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #e7f0fd;
        /* padding: 25px 70px; */
        justify-content: space-between;
        height: 50%;
    }
    aside {
        width: 100%;
        /* border-radius: 10px; */
        /* background-color: white; */
    }
       
    }
