/* section li {
    border: none;  
    padding: 10px 21px; 
}
.row{
    background-color: #2C73B6;
}
.active {
    background-color: #1592E6;
    padding: 8px 20px;
   }
section li a{
    color: white;
} */